body{
    background-position: center;
    background-size: cover;
}

canvas{
    animation-name: bg;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

  @keyframes bg {
    from { box-shadow:5px 5px 50px #0095ff;}
    to { box-shadow: 5px 5px 50px #004fa4;}
  }